<div class="row">
  <div class="col-sm-3">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        {{operatorName}} <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#" (click)="changeOption(operation)" *ngFor="let operation of operationList">{{operation.name}}</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="inputNumber" [(ngModel)]="inputNumber" placeholder="enter a number">
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-light" style="float: right;" (click)="addStep()">Add step</button>
  </div>
</div>

